<div class="container">
  <h2 class="text-center projects-title">PROJECTS</h2>
  <div class="row">
    <% data.portfolio.projects.each do |project| %>
      <% project.camel =
        project
          .name
          .split(" ")
          .map do |w|
            w[0] = w[0].upcase
            w
          end
          .join %>
      <div class="col-12 col-lg-6">
        <div class="projects p-4 mb-3">
          <div class="title-and-image position-relative ">
            <%= link_to project.name,
            project.link,
            class: "project-name ms-5 fs-3 stretched-link",
            target: "_blank" %>
            <%= image_tag project.image1, class: "project-image" %>
          </div>
          <div class="info mt-3">
            <p class="text-truncate"><%= project.tagline %></p>
            <div class="d-flex justify-content-center">
              <button
                class="btn-green"
                type="button"
                id="btn"
                data-bs-toggle="collapse"
                data-bs-target="#<%=project.camel%>"
                aria-expanded="false"
                aria-controls="<%=project.camel%>"
              >
                See more
              </button>
            </div>
            <div class="collapse" id="<%=project.camel%>">
              <div class="card card-body d-block">
                <%= project.info %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
