<div class="container">
  <h2 class="text-center projects-title">PROJECTS</h2>
  <div class="row">
    <% data.portfolio.projects.each do |project| %>
      <% project.camel =
        project
          .name
          .split(" ")
          .map do |w|
            w[0] = w[0].upcase
            w
          end
          .join %>
      <div class="col-12 col-lg-6">
        <div class="projects p-3">
          <div class="title-and-image position-relative ">
            <%= link_to project.name,
            project.link,
            class:
              "ms-5 fw-bold fs-3 stretched-link text-dark link-underline link-underline-opacity-0",
            target: "_blank" %>
            <div class="website-image">
              <%= image_tag project.image1, class: "project-image" %>
            </div>
          </div>
          <div class="info mt-3">
            <p class="text-truncate"><%= project.tagline %></p>
            <button
              class="btn btn-success"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#<%=project.camel%>"
              aria-expanded="false"
              aria-controls="<%=project.camel%>"
            >
              See more
            </button>
            <div class="collapse" id="<%=project.camel%>">
              <div class="card card-body">
                <%= project.info %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
